<html>
<head>
<meta http-equiv="Content-Type"
content="text/html; charset-utf-8"/>
<title>
	<?php
		if (define('TITLE')) {
			print TITLE;
		}	else {
			print 'Elliott Smith Fan Club';
		}
	?>
</title>
<style type="text/css">
body {
	margin:0px 0px 0px 0px;
	background:#9F9;
}

#leftcontent{
	float:left;
	width:67%;
	background:#fff;
	border-right:2px solid #000;
	border-bottom:2px solid #000;
	margin-right:15px;
	padding-bottom:20px;
}

p,h1,pre{
	font-size:14px;
	padding-top:10px;
}

h1{
	font-size:14px;
	padding-top:10px;
}

#rightcontent p{
	font-size:14px;
	margin-left:0px;
}
</style>
</head>
<body>
<div id="leftcontent">
